body{
    background-color: lightgoldenrodyellow;
}

h1{
    font-size: 30px;
    color: teal;
}

h2{
    font-size: 20px;
    color: red;
}

.big{
    font-size: 60px;
}

.upper{
    text-transform: uppercase;
}

.big.upper{
    color: navy;
}

h1 span{
    color: violet;
}